* {
    box-sizing: border-box;
    color: #41463e;
}

body {
    font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 80px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #9034dc;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0 0 15px 0;
}

.section-title {
    text-transform: capitalize;
}

.container {
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 1100px;
}

.section-panel {
    padding-top: 80px;
    padding-bottom: 80px;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2.4rem;
    font-weight: 800;
}

.btn {
    background-color: #eee;
    border-radius: 100px;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 18px;
    outline: none;
    padding: 10px 20px;
    transition: all .3s ease-in-out;
    text-decoration: none !important;
}

.btn.btn-border {
    background-color: transparent;
    border: 2px solid #7aed2b;
}

.btn.btn-theme {
    background-color: #7aed2b;
    border: 2px solid #7aed2b;
    color: #fff;
}

.btn:hover {
    background-color: #7aed2b;
    color: #fff;
}

.btn.btn-theme:hover {
    background-color: #fff;
    color: #41463e;
}

button.btn:active {
    background-color: #58ca09;
}

.color-theme {
    color: #7aed2b;
}

.color-gray {
    color: #aaa;
}

.color-white,
.color-white>* {
    color: #fff;
}

.confetti {
    width: 100%;
    height: 100%;
}

.visible-xs {
    display: none;
}

span {
    color: inherit;
}

.box-panel {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.box-panel:last-child {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.text-link {
    cursor: pointer;
    color: #9034dc;
}

.text-label {
    font-weight: 700;
    font-size: 1rem;
}

.ul-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul-list>li {
    margin-bottom: 15px;
}

.ul-list>li:last-child {
    margin-bottom: 0;
}

.ul-list>li::before {
    content: "\203A";
    color: #7aed2b;
    padding-right: 15px;
}

.input-wrapper {
    display: block;
    margin: 0 0 15px 0;
    width: 100%;
}

.input-form {
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    font-size: 1rem;
    outline: none;
    padding: 8px 14px;
    width: 290px;
}

.input-form:focus {
    border: 1px solid #7aed2b;
}

.Footer {
    background-color: #374230;
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
}

.separator {
    position: absolute;
    top: -50px;
    transform: skew(0, 357deg);
    background-color: #374230;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.Footer--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.type {
    font-size: .9rem;
    padding: 4px 6px;
    background-color: #fffb29;
    color: #333;
    border-radius: 4px;
}

.notif {
    align-items: flex-start;
    background-color: #fff;
    border-left: 5px solid #ff6347;
    border-radius: 4px;
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 15px;
    width: fit-content;
    width: -moz-fit-content;
}

.notif img {
    width: 25px;
}

.notif p {
    margin: 0;
}

.nogaps {
    margin: 0;
    padding: 0;
}