.fun-fact-parent {
	margin-top: 40px;
	margin-left: 30px;
	display: none;
}

.fun-fact-parent.active {
	display: block;
}

.fun-fact-grid {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	width: 100%;
}

.fun-fact-panel {
	background-color: #fff;
	/* box-shadow: 0px 1px 10px 3px rgb(0 0 0 / 10%); */
	border-radius: 12px;
	width: calc(50% - 30px);
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;
	border: 1px solid rgba(0, 0, 0, 0.080);
}

.fun-fact-header {
	padding: 30px;
}

.fun-fact-description {
	margin-bottom: 0;
	font-weight: 350;
}

.fun-fact-body {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding-bottom: 75%;
	width: 100%;
}

.fun-fact-sizer {
	width: calc(50% - 30px);
	height: 0;
	padding-bottom: 75%;
}

.attribution-note {
	font-size: .7rem;
}

.close-btn,
.next-btn {
	align-items: center;
	background-color: transparent;
	border: 1px solid #f07f7f;
	border-radius: 100%;
	cursor: pointer;
	display: inline-flex;
	font-size: 1.2rem;
	height: 40px;
	justify-content: center;
	width: 40px;
	transition: all .3s ease-in-out;
}

.next-btn {
	border: 1px solid #8ab4f8;
}

.close-btn>svg>path {
	stroke: #f07f7f;
}

.close-btn:hover {
	border-color: transparent;
	background-color: #f07f7f;
}

.close-btn:hover>svg>path {
	stroke: #fff;
}

.next-btn>svg>path {
	color: #8ab4f8;
}

.next-btn:hover {
	border-color: transparent;
	background-color: #8ab4f8;
}

.next-btn:hover>svg>path {
	color: #fff;
}

@media screen and (max-width: 767px) {
	.fun-fact-grid {
		display: block;
	}

	.fun-fact-panel {
		width: 100%;
	}

	.fun-fact-parent {
		margin-left: 0;
	}
}