.Grid-projects {
	background-color: #374230;
}

.Grid-projects h1,
.project-info * {
	color: #fff;
}

.project-title {
	font-size: 1.6rem;
}

.project-subtitle {
	margin-bottom: 5px;
	font-weight: normal;
	text-transform: uppercase;
}

.project-info {
	padding: 0 80px;
}

.project-grid-item:first-child {
	margin-top: 60px;
}

.project-grid-item {
	align-items: center;
	justify-content: space-between;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 120px 0;
}

.project-grid-item:last-child {
	margin-bottom: 30px;
}

.project-tech-stack {
	margin-top: 30px;
}

.project-tech-stack .capsule-list * {
	color: #41463e;
}

.project-image {
	border-radius: 12px;
	box-shadow: 8px 8px 0 rgba(0, 0, 0, .28);
	object-fit: cover;
	width: 500px;
}

.digiclock-image {
	object-fit: contain;
	height: 350px;
	border-radius: 35px;
	box-shadow: none;
	width: 100%;
}

.chatreg-image {
	border-radius: 18px;
	box-shadow: 0 7px 0 -1px rgba(0, 0, 0, .28);
}

.center-elem {
	text-align: center;
}

.btn-link-cta {
	text-transform: none;
	text-decoration: none !important;
	padding: 8px 18px;
	border: 1px solid transparent;
	background-color: #8ab4f8;
	color: #2d2e2d;
	font-weight: 600;
	display: inline-block;
	border-radius: 50px;
}

.btn-link-cta:hover {
	border: 1px solid #8ab4f8;
	background-color: transparent;
	color: #8ab4f8;
}

.project-grid-child.even-right {
	text-align: center;
}

.project-grid-child.even-left {
	order: 2;
}

.project-description {
	font-weight: 350;
}

@media screen and (max-width: 1024px) {
	.project-info {
		padding: 0 40px;
	}
}

@media screen and (max-width: 991px) {
	.project-grid-item {
		display: grid;
		grid-template-columns: 1fr;
	}

	.project-grid-child.odd-left {
		order: 2;
	}

	.project-image {
		width: 90%;
	}

	.digiclock-image {
		width: auto;
		height: 435px;
	}

	.project-grid-child.odd-right,
	.project-grid-child.even-right {
		margin-bottom: 30px;
		text-align: center;
	}
}

@media screen and (max-width: 767px) {
	.project-info {
		padding: 0;
	}

	.project-image {
		width: 100%;
	}

	.digiclock-image {
		height: 300px;
	}
}

@media screen and (max-width: 414px) {
	.digiclock-image {
		height: 310px;
	}
}

@media screen and (max-width: 320px) {
	.digiclock-image {
		height: 268px;
		margin-bottom: -20px;
	}
}