.Welcome {
	height: 80vh;
}

.Welcome--centered {
	position: relative;
	transform: translateY(-40%);
	top: 40%;
}

.Welcome--hero {
	height: inherit;
	text-align: center;
}

.hero--image {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 240px;
	margin: 30px auto 0 auto;
	width: 240px;
}

.Hello {
	background: rgb(0, 176, 80);
	background: linear-gradient(20deg, rgb(102 156 255) 0%, rgba(122, 237, 43, 1) 50%, rgb(19 218 160) 100%);
	/* background: linear-gradient(20deg, rgba(0, 176, 80, 1) 0%, rgba(122, 237, 43, 1) 50%, rgba(255, 255, 0, 1) 100%); */
}

.Hello.section-panel {
	position: relative;
	overflow: hidden;
}

.Hello--content {
	display: grid;
	grid-template-columns: 1fr 400px;
}

.Hello--content-right {
	background-image: url("../images/utilities/3310.png");
	background-position: top center;
	background-size: 180px;
	background-repeat: no-repeat;
	position: relative;
}

.Hello--content-left>h2 {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.Hello-cellphone-text {
	background-color: #f7efef;
	border-radius: 9px;
	font-family: monospace;
	font-size: 15px;
	height: 92px;
	padding: 16px 10px;
	position: absolute;
	top: 108px;
	width: 120px;
}

.Hello-cellphone-btn {
	background: linear-gradient(179deg, rgb(201 201 194) 0%, rgb(188 189 182) 50%, rgb(229 226 218) 100%);
	border-bottom-left-radius: 190px;
	border-bottom-right-radius: 190px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 64%);
	border: 0 none;
	font-weight: 800;
	font-size: 10px;
	position: absolute;
	text-transform: uppercase;
	top: 210px;
	transition: none;
	width: 74px;
}

.arrow {
	position: absolute;
	top: 165px;
	width: 65px;
}

.Hello-cellphone-text,
.Hello-cellphone-btn {
	right: 50.2% !important;
	transform: translateX(50%);
}

.arrow {
	left: 50% !important;
	transform: translateX(50%);
}

.Journey {
	background-color: #eee;
}

.timeline--list {
	margin: 40px auto 0 auto;
	max-width: 600px;
}

.timeline--list .box-panel {
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.timeline--list .box-panel.active {
	opacity: 1;
}

.timeline--item {
	padding-left: 20px;
	position: relative;
}

.timelineDot {
	left: 12px;
	position: absolute;
	top: 23px;
	width: 20px;
}

.timeline--content {
	border-left: 3px solid #ccc;
	padding: 20px;
}

.timeline--title {
	font-weight: bold;
}

.timeline--content p:last-child {
	margin-bottom: 0;
}

.Projects.section-panel {
	padding-bottom: 80px;
}

.Project--title {
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 15px;
}

.Project--list {
	align-items: start;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, minmax(49%, 1fr));
	margin-top: 40px;
}

.Project--item {
	background: linear-gradient(20deg, #00b050 0%, #7aed2b 50%, #ffff00 100%);
	border-radius: 12px;
	padding: 3px;
	transition: border-color 0.1s ease;
	border: 3px solid linear-gradient(20deg, rgba(0, 176, 80, 1) 0%, #7aed2b 50%, #ffff00 100%);
}

.Project--item:hover {
	padding: 0;
	border: 3px solid transparent;
	background: transparent;
	animation: rotateColors 5s infinite;
}

.technologies {
	padding-bottom: 160px;
}

.technologies-list-container {
	align-items: center;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 25px 0 10px 0;
}

.tech-icon-container {
	border-radius: 8px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 14px;
	transition: transform .3s ease-in-out;
}

.tech-icon-container>svg {
	cursor: pointer;
	height: 50px;
	width: 50px;
}

.tech-icon-container>svg>path {
	cursor: pointer;
	color: gray;
}

.tech-icon-container>svg:hover>path,
.tech-icon-container.active>svg>path {
	background-image: linear-gradient(90deg, #ea5414, #ee12e3, #ff0037, #0026ff, #70ea14, #eaa614, #ea5414);
	background-size: 200% 200%;
	animation: rotateColorsPath 20s linear infinite;
}

.tech-icon-container.active {
	box-shadow: 0 6px 10px 3px rgba(0, 0, 0, .1);
	transform: translateY(-10px);
}

.tech-icon-container.active .icon-label {
	animation: rotateColorsPath 20s linear infinite;
}

.tech-icon-container .icon-label {
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	font-size: .7rem;
}

.tech-desc {
	margin-bottom: 40px;
	border-left: 6px solid #aaa;
	animation: rotateBorderColor 20s linear infinite;
	padding: 15px 15px 15px 30px;
}

.tech-desc>p {
	font-weight: 700;
}

@keyframes rotateColorsPath {
	0% {
		color: #ea5414;
	}

	20% {
		color: #ee12e3;
	}

	40% {
		color: #ff0037;
	}

	60% {
		color: #0026ff;
	}

	80% {
		color: #70ea14;
	}

	100% {
		color: #eaa614;
	}
}

@keyframes rotateBorderColor {
	0% {
		border-color: #ea5414;
	}

	20% {
		border-color: #ee12e3;
	}

	40% {
		border-color: #ff0037;
	}

	60% {
		border-color: #0026ff;
	}

	80% {
		border-color: #70ea14;
	}

	100% {
		border-color: #eaa614;
	}
}

@keyframes rotateColors {
	0% {
		/* border-color: rgba(0, 176, 80, 1); */
		border-color: #70ea14;
	}

	25% {
		/* border-color: rgba(122, 237, 43, 1); */
		border-color: #ee12e3;
	}

	50% {
		/* border-color: rgba(255, 255, 0, 1); */
		border-color: #eeff00;
	}

	75% {
		/* border-color: rgba(255, 255, 0, 1); */
		border-color: #0026ff;
	}

	100% {
		border-color: #70ea14;
		/* border-color: rgba(0, 176, 80, 1); */
	}
}

.Project--item-wrapper {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
}

.Project--item-head {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
}

.capsule-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.capsule-list>.capsule--item {
	background-color: #e8e8e8;
	border-radius: 8px;
	border: 1px solid transparent;
	font-size: .8rem;
	padding: 6px 12px;
}

.ripple-container {
	display: inline-block;
	overflow: hidden;
}

.ripple-image {
	/* Adjust the size as needed */
	animation: ripple 1s linear infinite;
}

@keyframes ripple {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		transform: scale(2);
		opacity: 0;
	}
}