.Navbar {
	background-color: #ffffff5e;
	backdrop-filter: blur(8px);
	height: 80px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.Navbar--links {
	margin-top: -3px;
}

.Navbar--flex {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: inherit;
}

.logo {
	width: 40px;
}

.Navbar--links {
	display: block;
	text-align: right;
}