@media screen and (max-width: 1024px) {
	.container {
		max-width: 900px;
	}

	.Hello--content {
		grid-template-columns: 1fr 240px !important;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}

	.Welcome {
		height: auto !important;
		padding-bottom: 80px;
	}

	.Welcome--centered {
		transform: none !important;
		top: unset !important;
	}

}

@media screen and (max-width: 767px) {
	h2 {
		font-weight: 900 !important;
	}

	.timeline--title {
		font-weight: bold !important;
	}

	.logo {
		width: 30px;
	}

	.Navbar {
		height: 50px;
	}

	.Navbar--links>a {
		font-size: .9rem;
		padding: 4px 16px;
	}

	.Hello {
		padding-bottom: 0;
	}

	.Hello--content {
		grid-template-columns: 1fr 240px !important;
	}

	.Hello--content-right {
		height: 325px;
		margin-top: 25px;
	}

	.Hello-cellphone-text {
		padding: 10px !important;
	}

	.hero--heading,
	.section-title {
		font-size: 38px !important;
	}

	.hero--image {
		height: 160px !important;
		width: 160px !important;
	}

	.Hello--content,
	.Footer--grid,
	.Project--list,
	.input-form {
		display: block !important;
		width: 100% !important;
	}

	.confetti-btn {
		font-weight: 700;
		cursor: pointer;
	}

	.Project--item {
		margin-bottom: 20px;
	}

	.Project--item:last-child {
		margin-bottom: 0;
	}

	.hidden-xs {
		display: none !important;
	}

	.visible-xs {
		display: inline-block;
	}
}